USE [master]
GO
/****** Object:  Database [BankDB]    Script Date: 26/10/2025 04:42:31 م ******/
CREATE DATABASE [BankDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BankDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BankDB_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankDB]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 26/10/2025 04:42:31 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[AccountNumber] [nvarchar](10) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[PinCode] [char](4) NOT NULL,
 CONSTRAINT [PK__Clients__E67E1A249E4F19C7] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 26/10/2025 04:42:31 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](255) NOT NULL,
	[CountryCode] [char](3) NOT NULL,
	[FlagPath] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Countrie__10D1609FBAF276A7] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries_Currencies]    Script Date: 26/10/2025 04:42:31 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries_Currencies](
	[Country_Currency_Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[CurrencyId] [int] NOT NULL,
	[Rate_On_1$] [decimal](18, 2) NOT NULL,
	[CurrencyName] [nvarchar](50) NOT NULL,
	[CurrencyCode] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK__Country___5F6AEEC313E21634] PRIMARY KEY CLUSTERED 
(
	[Country_Currency_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 26/10/2025 04:42:31 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[CurrencyId] [int] IDENTITY(1,1) NOT NULL,
	[Rate_On_1$] [decimal](18, 2) NOT NULL,
	[CurrencyName] [nvarchar](50) NOT NULL,
	[CurrencyCode] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK__Currenci__15017DCFDB6E87BF] PRIMARY KEY CLUSTERED 
(
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_Regesters]    Script Date: 26/10/2025 04:42:31 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_Regesters](
	[RegesterId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RegesterDate] [datetime2](0) NOT NULL,
	[UserName] [nvarchar](15) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[Permissions] [nvarchar](1024) NOT NULL,
 CONSTRAINT [PK__Login_Re__BC67602E578E4013] PRIMARY KEY CLUSTERED 
(
	[RegesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 26/10/2025 04:42:31 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[FirstName] [nvarchar](40) NOT NULL,
	[LastName] [nvarchar](40) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK__Persons__3214EC27E753C09A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 26/10/2025 04:42:31 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[PhoneId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__Phone__F3EE4BB0BA4AD5C2] PRIMARY KEY CLUSTERED 
(
	[PhoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Logs]    Script Date: 26/10/2025 04:42:31 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Logs](
	[Transaction_Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[Currency] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Date] [datetime2](0) NOT NULL,
	[Transaction_Type_Id] [int] NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK__Transact__9A8D5605CA72FE9C] PRIMARY KEY CLUSTERED 
(
	[Transaction_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Types]    Script Date: 26/10/2025 04:42:31 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Types](
	[Transaction_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__Transact__6E05F4FF0A2968D7] PRIMARY KEY CLUSTERED 
(
	[Transaction_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferLogs]    Script Date: 26/10/2025 04:42:31 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferLogs](
	[TransferId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId_From] [int] NOT NULL,
	[ClientId_To] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[SourceBalance] [decimal](18, 2) NOT NULL,
	[SourceCurrencyName] [char](50) NOT NULL,
	[DestinationBalance] [decimal](18, 2) NOT NULL,
	[DestinationCurrencyName] [nchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Fees] [decimal](18, 6) NOT NULL,
	[Date] [datetime2](0) NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK__Transfer__954900913B9961F3] PRIMARY KEY CLUSTERED 
(
	[TransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/10/2025 04:42:31 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[UserName] [nvarchar](15) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[permissions] [int] NOT NULL,
 CONSTRAINT [PK__Users__1788CC4CC2BFA612] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [PersonID], [AccountNumber], [Balance], [PinCode]) VALUES (79, 90, N'A111', CAST(3907713.87 AS Decimal(18, 2)), N'5678')
INSERT [dbo].[Clients] ([ClientId], [PersonID], [AccountNumber], [Balance], [PinCode]) VALUES (80, 7, N'A112', CAST(110010891431.58 AS Decimal(18, 2)), N'5678')
INSERT [dbo].[Clients] ([ClientId], [PersonID], [AccountNumber], [Balance], [PinCode]) VALUES (81, 25, N'A113', CAST(10989528000.00 AS Decimal(18, 2)), N'5678')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [CountryName], [CountryCode], [FlagPath]) VALUES (1, N'Syrian Arab Republic', N'SY ', N'Resources\FlagsIcons\SY.png')
INSERT [dbo].[Countries] ([CountryId], [CountryName], [CountryCode], [FlagPath]) VALUES (2, N'United States of America', N'US ', N'Resources\FlagsIcons\US.png')
INSERT [dbo].[Countries] ([CountryId], [CountryName], [CountryCode], [FlagPath]) VALUES (3, N'Republic of Lithuania', N'LT ', N'Resources\FlagsIcons\LT.png')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries_Currencies] ON 

INSERT [dbo].[Countries_Currencies] ([Country_Currency_Id], [CountryId], [CurrencyId], [Rate_On_1$], [CurrencyName], [CurrencyCode]) VALUES (3, 3, 3, CAST(0.86 AS Decimal(18, 2)), N'Euro', N'EUR')
INSERT [dbo].[Countries_Currencies] ([Country_Currency_Id], [CountryId], [CurrencyId], [Rate_On_1$], [CurrencyName], [CurrencyCode]) VALUES (4, 4, 4, CAST(958.38 AS Decimal(18, 2)), N'Chilean peso', N'CLP')
INSERT [dbo].[Countries_Currencies] ([Country_Currency_Id], [CountryId], [CurrencyId], [Rate_On_1$], [CurrencyName], [CurrencyCode]) VALUES (5, 5, 5, CAST(565.81 AS Decimal(18, 2)), N'West African CFA franc', N'XOF')
GO
SET IDENTITY_INSERT [dbo].[Countries_Currencies] OFF
GO
SET IDENTITY_INSERT [dbo].[Currencies] ON 

INSERT [dbo].[Currencies] ([CurrencyId], [Rate_On_1$], [CurrencyName], [CurrencyCode]) VALUES (1, CAST(12910.93 AS Decimal(18, 2)), N'Syrian Pound', N'SYP')
INSERT [dbo].[Currencies] ([CurrencyId], [Rate_On_1$], [CurrencyName], [CurrencyCode]) VALUES (2, CAST(1.00 AS Decimal(18, 2)), N'United States dollar', N'USD')
INSERT [dbo].[Currencies] ([CurrencyId], [Rate_On_1$], [CurrencyName], [CurrencyCode]) VALUES (3, CAST(0.86 AS Decimal(18, 2)), N'Euro', N'EUR')
GO
SET IDENTITY_INSERT [dbo].[Currencies] OFF
GO
SET IDENTITY_INSERT [dbo].[Login_Regesters] ON 

INSERT [dbo].[Login_Regesters] ([RegesterId], [UserId], [RegesterDate], [UserName], [password], [Permissions]) VALUES (1, 1, CAST(N'2025-09-06T16:35:42.0000000' AS DateTime2), N'noor', N'1234', N'-1')
INSERT [dbo].[Login_Regesters] ([RegesterId], [UserId], [RegesterDate], [UserName], [password], [Permissions]) VALUES (2, 55, CAST(N'2025-09-06T16:35:53.0000000' AS DateTime2), N'Admin', N'1234', N'-1')
INSERT [dbo].[Login_Regesters] ([RegesterId], [UserId], [RegesterDate], [UserName], [password], [Permissions]) VALUES (3, 53, CAST(N'2025-09-06T16:36:03.0000000' AS DateTime2), N'Farah', N'1234', N'48')
GO
SET IDENTITY_INSERT [dbo].[Login_Regesters] OFF
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([ID], [CountryId], [FirstName], [LastName], [Email], [Address], [Gender], [BirthDate], [ImageUrl]) VALUES (7, 1, N'Noor', N'AlHejo', N'Noor Alhejo@gmail.com', N'Dubai , TurkeyStreet', N'M', CAST(N'2002-09-09' AS Date), NULL)
INSERT [dbo].[Persons] ([ID], [CountryId], [FirstName], [LastName], [Email], [Address], [Gender], [BirthDate], [ImageUrl]) VALUES (25, 1, N'Ibrahim', N'Wahbi', N'IbrahimW@gmail.com', N'Damascous-Dummar', N'M', CAST(N'1996-06-11' AS Date), NULL)
INSERT [dbo].[Persons] ([ID], [CountryId], [FirstName], [LastName], [Email], [Address], [Gender], [BirthDate], [ImageUrl]) VALUES (64, 1, N'Mahmoud', N'Wahbi', N'MahmoudWahbi@gmail.com', N'Damascous , Syria', N'M', CAST(N'2001-02-09' AS Date), N'C:\Users\Mamhoud\Desktop\Bank Project Main\Resources\Personal Images\b91124f7-aa0f-4123-ac5b-9f971f96dae7.PNG')
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
SET IDENTITY_INSERT [dbo].[Phones] ON 

INSERT [dbo].[Phones] ([PhoneId], [PersonId], [Phone]) VALUES (44, 86, N'0992451312')
INSERT [dbo].[Phones] ([PhoneId], [PersonId], [Phone]) VALUES (47, 25, N'0992341236')
INSERT [dbo].[Phones] ([PhoneId], [PersonId], [Phone]) VALUES (48, 91, N'0967482934')
SET IDENTITY_INSERT [dbo].[Phones] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction_Logs] ON 

INSERT [dbo].[Transaction_Logs] ([Transaction_Id], [UserId], [ClientId], [Currency], [Amount], [Date], [Transaction_Type_Id], [Notes], [PersonId]) VALUES (11, 1, 79, N'Syrian Pound', CAST(6500000.00 AS Decimal(18, 2)), CAST(N'2025-08-27T01:41:17.0000000' AS DateTime2), 1, NULL, 90)
INSERT [dbo].[Transaction_Logs] ([Transaction_Id], [UserId], [ClientId], [Currency], [Amount], [Date], [Transaction_Type_Id], [Notes], [PersonId]) VALUES (12, 1, 79, N'Syrian Pound', CAST(7000000.00 AS Decimal(18, 2)), CAST(N'2025-08-27T01:49:38.0000000' AS DateTime2), 1, NULL, 90)
INSERT [dbo].[Transaction_Logs] ([Transaction_Id], [UserId], [ClientId], [Currency], [Amount], [Date], [Transaction_Type_Id], [Notes], [PersonId]) VALUES (13, 1, 79, N'Syrian Pound', CAST(7000001.00 AS Decimal(18, 2)), CAST(N'2025-08-27T02:31:18.0000000' AS DateTime2), 1, NULL, 90)
SET IDENTITY_INSERT [dbo].[Transaction_Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction_Types] ON 

INSERT [dbo].[Transaction_Types] ([Transaction_Type_Id], [TransactionName]) VALUES (1, N'Deposit')
INSERT [dbo].[Transaction_Types] ([Transaction_Type_Id], [TransactionName]) VALUES (2, N'Withdraw')
SET IDENTITY_INSERT [dbo].[Transaction_Types] OFF
GO
SET IDENTITY_INSERT [dbo].[TransferLogs] ON 

INSERT [dbo].[TransferLogs] ([TransferId], [ClientId_From], [ClientId_To], [UserId], [SourceBalance], [SourceCurrencyName], [DestinationBalance], [DestinationCurrencyName], [Amount], [Fees], [Date], [Notes], [PersonId]) VALUES (32, 79, 80, 1, CAST(5020188.58 AS Decimal(18, 2)), N'Syrian Pound                                      ', CAST(110010881077.58 AS Decimal(18, 2)), N'Syrian Pound                                      ', CAST(100.00 AS Decimal(18, 2)), CAST(0.200000 AS Decimal(18, 6)), CAST(N'2025-09-04T05:08:30.0000000' AS DateTime2), NULL, 90)
INSERT [dbo].[TransferLogs] ([TransferId], [ClientId_From], [ClientId_To], [UserId], [SourceBalance], [SourceCurrencyName], [DestinationBalance], [DestinationCurrencyName], [Amount], [Fees], [Date], [Notes], [PersonId]) VALUES (33, 79, 80, 1, CAST(5020088.38 AS Decimal(18, 2)), N'Syrian Pound                                      ', CAST(110010881177.58 AS Decimal(18, 2)), N'Syrian Pound                                      ', CAST(100.00 AS Decimal(18, 2)), CAST(0.200000 AS Decimal(18, 6)), CAST(N'2025-09-04T05:08:35.0000000' AS DateTime2), NULL, 90)
INSERT [dbo].[TransferLogs] ([TransferId], [ClientId_From], [ClientId_To], [UserId], [SourceBalance], [SourceCurrencyName], [DestinationBalance], [DestinationCurrencyName], [Amount], [Fees], [Date], [Notes], [PersonId]) VALUES (35, 79, 80, 1, CAST(5019887.98 AS Decimal(18, 2)), N'Syrian Pound                                      ', CAST(110010881377.58 AS Decimal(18, 2)), N'Syrian Pound                                      ', CAST(100.00 AS Decimal(18, 2)), CAST(0.200000 AS Decimal(18, 6)), CAST(N'2025-09-04T05:08:39.0000000' AS DateTime2), NULL, 90)
SET IDENTITY_INSERT [dbo].[TransferLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [PersonId], [UserName], [Password], [permissions]) VALUES (1, 7, N'Noor', N'5678', -1)
INSERT [dbo].[Users] ([UserId], [PersonId], [UserName], [Password], [permissions]) VALUES (47, 25, N'Ibrahim_User', N'5678', 4)
INSERT [dbo].[Users] ([UserId], [PersonId], [UserName], [Password], [permissions]) VALUES (50, 118, N'Sara', N'5678', -1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Clients_AccountNumber]    Script Date: 26/10/2025 04:42:31 م ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [UQ_Clients_AccountNumber] UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CountryCode]    Script Date: 26/10/2025 04:42:31 م ******/
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [UQ_CountryCode] UNIQUE NONCLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CountryName]    Script Date: 26/10/2025 04:42:31 م ******/
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [UQ_CountryName] UNIQUE NONCLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Email]    Script Date: 26/10/2025 04:42:31 م ******/
ALTER TABLE [dbo].[Persons] ADD  CONSTRAINT [UQ_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Persons] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([ID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Persons]
GO
ALTER TABLE [dbo].[Countries_Currencies]  WITH CHECK ADD  CONSTRAINT [Fk_CountryCurrency_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Countries_Currencies] CHECK CONSTRAINT [Fk_CountryCurrency_Countries]
GO
ALTER TABLE [dbo].[Countries_Currencies]  WITH CHECK ADD  CONSTRAINT [Fk_CountryCurrency_Currencies] FOREIGN KEY([CurrencyId])
REFERENCES [dbo].[Currencies] ([CurrencyId])
GO
ALTER TABLE [dbo].[Countries_Currencies] CHECK CONSTRAINT [Fk_CountryCurrency_Currencies]
GO
ALTER TABLE [dbo].[Login_Regesters]  WITH CHECK ADD  CONSTRAINT [FK_Login_Regesters_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Login_Regesters] CHECK CONSTRAINT [FK_Login_Regesters_Users]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [FK_Persons_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [FK_Persons_Countries]
GO
ALTER TABLE [dbo].[Phones]  WITH CHECK ADD  CONSTRAINT [FK_Phone_Persons] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([ID])
GO
ALTER TABLE [dbo].[Phones] CHECK CONSTRAINT [FK_Phone_Persons]
GO
ALTER TABLE [dbo].[Transaction_Logs]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Logs_TransactionTypes] FOREIGN KEY([Transaction_Type_Id])
REFERENCES [dbo].[Transaction_Types] ([Transaction_Type_Id])
GO
ALTER TABLE [dbo].[Transaction_Logs] CHECK CONSTRAINT [FK_Transaction_Logs_TransactionTypes]
GO
ALTER TABLE [dbo].[Transaction_Logs]  WITH CHECK ADD  CONSTRAINT [FK_TransactionLog_Persons] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([ID])
GO
ALTER TABLE [dbo].[Transaction_Logs] CHECK CONSTRAINT [FK_TransactionLog_Persons]
GO
ALTER TABLE [dbo].[Transaction_Logs]  WITH CHECK ADD  CONSTRAINT [FK_TransactionLogs_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[Transaction_Logs] CHECK CONSTRAINT [FK_TransactionLogs_Clients]
GO
ALTER TABLE [dbo].[Transaction_Logs]  WITH CHECK ADD  CONSTRAINT [FK_transactionLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Transaction_Logs] CHECK CONSTRAINT [FK_transactionLogs_Users]
GO
ALTER TABLE [dbo].[TransferLogs]  WITH CHECK ADD  CONSTRAINT [FK_TransferLogs_ClintsFrom] FOREIGN KEY([ClientId_From])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[TransferLogs] CHECK CONSTRAINT [FK_TransferLogs_ClintsFrom]
GO
ALTER TABLE [dbo].[TransferLogs]  WITH CHECK ADD  CONSTRAINT [FK_TransferLogs_ClintsTo] FOREIGN KEY([ClientId_To])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[TransferLogs] CHECK CONSTRAINT [FK_TransferLogs_ClintsTo]
GO
ALTER TABLE [dbo].[TransferLogs]  WITH CHECK ADD  CONSTRAINT [FK_TransferLogs_Persons] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([ID])
GO
ALTER TABLE [dbo].[TransferLogs] CHECK CONSTRAINT [FK_TransferLogs_Persons]
GO
ALTER TABLE [dbo].[TransferLogs]  WITH CHECK ADD  CONSTRAINT [FK_TransferLogs_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TransferLogs] CHECK CONSTRAINT [FK_TransferLogs_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Persons] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Persons]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [CK__Clients__Account__59063A47] CHECK  ((ltrim(rtrim([AccountNumber]))<>''))
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [CK__Clients__Account__59063A47]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [CK__Clients__PinCode__5AEE82B9] CHECK  ((ltrim(rtrim([PinCode]))<>''))
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [CK__Clients__PinCode__5AEE82B9]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [CK__Countries__Count__398D8EEE] CHECK  ((ltrim(rtrim([CountryName]))<>' '))
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [CK__Countries__Count__398D8EEE]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD  CONSTRAINT [CK__Countries__Count__3A81B327] CHECK  ((ltrim(rtrim([CountryCode]))<>' '))
GO
ALTER TABLE [dbo].[Countries] CHECK CONSTRAINT [CK__Countries__Count__3A81B327]
GO
ALTER TABLE [dbo].[Currencies]  WITH CHECK ADD  CONSTRAINT [CK__Currencie__Curre__0B91BA14] CHECK  ((ltrim(rtrim([CurrencyName]))<>''))
GO
ALTER TABLE [dbo].[Currencies] CHECK CONSTRAINT [CK__Currencie__Curre__0B91BA14]
GO
ALTER TABLE [dbo].[Login_Regesters]  WITH CHECK ADD  CONSTRAINT [CK__Login_Reg__passw__656C112C] CHECK  ((rtrim(ltrim([password]))<>''))
GO
ALTER TABLE [dbo].[Login_Regesters] CHECK CONSTRAINT [CK__Login_Reg__passw__656C112C]
GO
ALTER TABLE [dbo].[Login_Regesters]  WITH CHECK ADD  CONSTRAINT [CK__Login_Reg__UserN__6477ECF3] CHECK  ((rtrim(ltrim([UserName]))<>''))
GO
ALTER TABLE [dbo].[Login_Regesters] CHECK CONSTRAINT [CK__Login_Reg__UserN__6477ECF3]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CHK_Person_BirthDate] CHECK  ((datediff(year,[BirthDate],getdate())>=(18)))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CHK_Person_BirthDate]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CK__Persons__Address__412EB0B6] CHECK  ((ltrim(rtrim([Address]))<>''))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CK__Persons__Address__412EB0B6]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CK__Persons__Email__403A8C7D] CHECK  (([Email] like '%@%'))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CK__Persons__Email__403A8C7D]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CK__Persons__FirstNa__3E52440B] CHECK  ((ltrim(rtrim([FirstName]))<>''))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CK__Persons__FirstNa__3E52440B]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CK__Persons__Gender__4222D4EF] CHECK  (([Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CK__Persons__Gender__4222D4EF]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CK__Persons__LastNam__3F466844] CHECK  ((ltrim(rtrim([LastName]))<>''))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CK__Persons__LastNam__3F466844]
GO
ALTER TABLE [dbo].[Phones]  WITH CHECK ADD  CONSTRAINT [CK__Phone__Phone__5535A963] CHECK  ((ltrim(rtrim([Phone]))<>' '))
GO
ALTER TABLE [dbo].[Phones] CHECK CONSTRAINT [CK__Phone__Phone__5535A963]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_CONSTRAINT_PERMISSIONS] CHECK  (([Permissions]>=(-1) AND [Permissions]<=(65535)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_CONSTRAINT_PERMISSIONS]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK__Users__Password__60A75C0F] CHECK  ((rtrim(ltrim([Password]))<>''))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK__Users__Password__60A75C0F]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK__Users__PersonId__5EBF139D] CHECK  ((rtrim(ltrim([PersonId]))<>''))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK__Users__PersonId__5EBF139D]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK__Users__UserName__5FB337D6] CHECK  ((rtrim(ltrim([UserName]))<>''))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK__Users__UserName__5FB337D6]
GO
USE [master]
GO
